<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TelemedicsDBEntities" connectionString="metadata=res://*/TelemedicsModal.csdl|res://*/TelemedicsModal.ssdl|res://*/TelemedicsModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sharedmssql4.znetindia.net,1234;initial catalog=TeleMedicsDB;user id=telemedicsadmin;password=123$Test$123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
<!--ProjectGuid: D206A580-D562-48FA-854A-2C748C753D91-->